body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.task-list {
  margin-top: 30px;
}

.task-card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.btn-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.start {
  background:black;
}

.done {
  background: green;
  color: white;
}
