/* ===== GLOBAL ===== */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}


/* ===== CONTAINER ===== */

.container {
  max-width: 700px;
  margin: auto;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}


/* ===== INPUT ===== */

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

input:disabled {
  opacity: 0.6;
}

button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


/* ===== TASK LIST ===== */

.task-list {
  margin-top: 30px;
}

.task-card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}


/* ===== BUTTON GROUP ===== */

.btn-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.start {
  background: orange;
  color: black;
}

.done {
  background: green;
  color: white;
}

.delete {
  background: crimson;
  color: white;
}

.delete:hover {
  opacity: 0.8;
}


/* ===== LOADER ===== */

.loader-container {
  text-align: center;
  margin-top: 60px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #334155;
  border-top: 5px solid #38bdf8;
  border-radius: 50%;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
